[Desktop Entry]
Name=Termise
Comment=Use the command line
Exec=termise
Icon=utilities-terminal
Type=Application
Categories=GTK;System;TerminalEmulator;
StartupNotify=true
